<%= form_with model: resident, local: false do |f| %>
<div class="row">
  <div class="mb-3">
    <%= image_tag(rails_blob_path(f.object.photo, only_path: true), size: '100x100') if f.object.photo.attached? %>
    <%= f.label :photo, class: 'form-label' %>
    <%= f.file_field :photo, class: 'form-control', accept: 'image/png,image/jpg,image/jpeg', required: f.object.new_record? %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :full_name, class: 'form-label' %>
    <%= f.text_field :full_name, class: 'form-control', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :document, class: 'form-label' %>
    <%= f.text_field :document, class: 'form-control cpf', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :health_card_document, class: 'form-label' %>
    <%= f.text_field :health_card_document, class: 'form-control brazilian_health_code_number', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :phone, class: 'form-label' %>
    <%= f.text_field :phone, class: 'form-control phone_with_area_code', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :birthdate, class: 'form-label' %>
    <%= f.date_field :birthdate, class: 'form-control', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <%= f.label :status, class: 'form-label' %>&nbsp;
    <%= f.label t('active'), class: 'form-label' %>
    <%= f.radio_button :status, 'active', required: true %>
    <%= f.label t('inactive'), class: 'form-label' %>
    <%= f.radio_button :status, 'inactive', required: true %>
    <div class="invalid-feedback"></div>
  </div>
  <%= f.fields_for :addresses, ensure_address_for(f.object) do |address_form| %>
    <%= address_form.hidden_field :id %>
    <div class="mb-3">
      <%= address_form.label :zipcode, class: 'form-label' %>
      <%= address_form.text_field :zipcode, class: 'form-control', required: true %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <%= address_form.label :street, class: 'form-label' %>
      <%= address_form.text_field :street, class: 'form-control', required: true %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <%= address_form.label :neighboorhood, class: 'form-label' %>
      <%= address_form.text_field :neighboorhood, class: 'form-control', required: true %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <%= address_form.label :city, class: 'form-label' %>
      <%= address_form.text_field :city, class: 'form-control', required: true %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <%= address_form.label :state, class: 'form-label' %>
      <%= address_form.text_field :state, class: 'form-control', required: true %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <%= address_form.label :ibge_code, class: 'form-label' %>
      <%= address_form.text_field :ibge_code, class: 'form-control'%>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <%= address_form.label :complement, class: 'form-label' %>
      <%= address_form.text_field :complement, class: 'form-control' %>
      <div class="invalid-feedback"></div>
    </div>
  <% end %>
</div>
<%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= javascript_pack_tag 'residents-index', 'data-turbolinks-track': 'reload' %>
