<!DOCTYPE html>
<html>
  <head>
    <title>Municiper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css',
                             media: 'all',
                             'data-turbolinks-track': 'reload',
                             integrity: 'sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor',
                             crossorigin: 'anonymous' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js',
                               'data-turbolinks-track': 'reload',
                               integrity: 'sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2',
                               crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js',
                               'data-turbolinks-track': 'reload',
                                integrity: 'sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=',
                                crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js',
                               'data-turbolinks-track': 'reload',
                                crossorigin: 'anonymous' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
